.card-project__img {
  border-radius: 30px;
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  height: 393px;
  object-fit: cover;
  width: 100%;
}

@media screen and (max-width: 1279px) {
  .card-project__img {
    border-radius: 10px;
    height: 284px;
  }
}

@media screen and (max-width: 767px) {
  .card-project__img {
    grid-column: 1;
    grid-row: 2 / 3;
    height: 180px;
  }
}
