.page {
  min-width: 320px;
  color: var(--color-text-main);

  font-family: 'Raleway', 'Arial', sans-serif;
  font-weight: 400;
  font-variant-numeric: lining-nums;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;

  text-rendering: optimizeLegibility;
  color: var(--color-text-main);

}
