.page {
  min-width: 320px;

  color: var(--color-text-main);

  font-family: 'Raleway', 'Arial', sans-serif;
  font-weight: 400;
<<<<<<< HEAD

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;

  text-rendering: optimizeLegibility;
=======
  color: var(--color-text-main);

>>>>>>> 7b99a09176dbe486e084fb3b8d62e94fd45ac55d
}
