.section__all-button {
  margin: 50px auto 0;
  width: fit-content;
  min-width: 200px;
}

@media screen and (max-width: 1279px) {
  .section__all-button {
    margin: 30px auto 0;
  }
}

@media screen and (max-width: 767px) {
  .section__all-button {
    margin-top: 22px;
    width: 100%;
  }
}
