.accordion__item {
  border: 2px solid #dadada;
  border-radius: 30px;
  padding: 26px 20px 25px;
}

@media screen and (max-width: 1279px) {
  .accordion__item {
      border-radius: 20px;
      padding: 18px 20px;
  }
  .accordion__item:nth-child(1) {
      order: 1;
  }
  .accordion__item:nth-child(2) {
      order: 3;
  }
  .accordion__item:nth-child(3) {
      order: 5;
  }
  .accordion__item:nth-child(4) {
      order: 2;
  }
  .accordion__item:nth-child(5) {
      order: 4;
  }
  .accordion__item:nth-child(6) {
      order: 6;
  }
}

@media screen and (max-width: 767px) {
  .accordion__item {
      border: 1px solid #dadada;
      border-radius: 15px;
      padding: 11px 19px 11px 15px;
  }
}

