.footer__wrapper-logo {
  align-items: center;
  display: flex;
  gap: 50px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 18px;
}

@media screen and (max-width: 1279px) {
  .footer__wrapper-logo {
    padding-left: 15px;
    gap: 21px;
  }
}

@media screen and (max-width: 767px) {
  .footer__wrapper-logo {
    padding-top: 1px;
    padding-left: 10px;
    padding-bottom: 1px;
    gap: 21px;
  }
}
