.accordion {
  padding-top: 150px;
  padding-bottom: 150px;
}
@media screen and (max-width: 1279px) {
  .accordion {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 767px) {
  .accordion {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
