.card-video__text {
  min-height: 120px;
  font-weight: 700;
  font-size: 34px;
  line-height: 120%;
  margin: 0;
}

@media screen and (max-width: 1279px) {
  .card-video__text {
      font-size: 20px;
      min-height: 72px;
  }
}

@media screen and (max-width: 767px) {
  .card-video__text {
      font-size: 16px;
      min-height: 38px;
  }
}
