.card-quote {
  max-width: 1360px;
  display: flex;
  padding: 50px 0px;
}

@media screen and (max-width: 1279px) {
  .card-quote {
      margin: auto;
      max-width: 687px;
      padding: 32px 0px;
  }
}

@media screen and (max-width: 767px) {
  .card-quote {
      flex-direction: column;
      margin: auto;
      max-width: 299px;
      padding: 24px 0px 31px 0px;
  }
}
