.card-quote {
  width: 100%;
  display: flex;
  padding-bottom: 150px;
  margin: 0;
}

@media screen and (max-width: 1279px) {
  .card-quote {

      padding-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .card-quote {
      flex-direction: column;
      padding-bottom: 30px;
  }
}
