.history__button_type_secondary {
  background-color: white;
  border: 1px solid #0c4ba0;
  border-radius: 10px;
  color: #0c4ba0;
}

.history__button_type_secondary:hover {
  border: 1px solid #00275c;
  color: #00275c;
}
.history__button_type_secondary:active {
  background-color: #00275c;
  color: white;
}
.history__button_type_secondary:disabled {
  border: 2px solid #c4c4c4;
  background-color: #f5f5f5;
  color: #c4c4c4;
}
