.button_type_link {
  border: 1px;
  position: relative;
  width: 240px;
}

.button_type_link::after {
  flex-shrink: 0;
  content: '';
  margin-left: 14px;

  width: 16px;
  height: 16px;
  transition: background-image 0.3s ease-in-out;

  background-size: contain;
}

.button_type_link:hover::after,
.button_type_link:focus::after {
  background-image: url('../../../images/arrow_forward.svg');
}

.button_type_link:disabled::after {
  background-image: url('../../../images/arrow-forward-grey.svg');
}

@media screen and (max-width: 1279px) {
  .button_type_link {
      width: 220px;
  }
}

@media screen and (max-width: 767px) {
  .button_type_link {
      width: 175px;
  }
}
