.button_type_link {
  border: 1px; 
  position: relative;
  width: 240px;
  background-color: #e7f0ff;
  color: #0c4ba0;
}
.button_type_link::after {
  content: "🠖";
  position: absolute;
  top: 13px;
  right: 10px;
}
.button_type_link:hover {
  background-color: #0c4ba0;
  color: #ffffff;
}
.button_type_link:active {
  background-color: #00275c;
  color: #ffffff;
}
.button_type_link:disabled {
  background-color: #c4c4c4;
  color: #26262680;
}

@media screen and (max-width: 1279px) {
  .button_type_link {
      width: 220px;
  }
}

@media screen and (max-width: 767px) {
  .button_type_link {
      width: 175px;
  }
}