.history__wrapper {
  max-width: 1360px;
  margin: 0;
  padding-top: 150px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1279px) {
  .history__wrapper {
      display: contents;
  }
}


