.donation-nav__submit {
  width: 180px;
}

@media screen and (max-width: 1279px) {
  .donation-nav__submit {
    padding-left: 23px;
    padding-right: 23px;
  }
}

@media screen and (max-width: 767px) {
  .donation-nav__submit {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}
