.about__slider-item {
    position: absolute;
    width: 100%;
    opacity: 0;
  }

  @media screen and (max-width: 1250px) {
    .about__slider-item {
    }
  }

  @media screen and (max-width: 730px) {
    .about__slider-item {
    }
  }
