.donation__consent {
  margin-top: 39px;
  margin-bottom: 22px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .donation__consent {
    margin-top: 26px;
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 767px) {
  .donation__consent {
    margin-top: 25px;
  }
}
