.header__menu-icon {
    background-image: url(../../../images/Menu.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
}

@media screen and (max-width: 730px) {
    .header__menu-icon {
        width: 24px;
        height: 20px;
        background-repeat: initial;
    }
}