.card-video__description {
  margin-top: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
}
@media screen and (max-width: 1279px) {
  .card-video__description {
      margin-top: 12px;
      font-size: 12px;
      line-height: 120%;
  }
}

@media screen and (max-width: 767px) {
  .card-video__description {
      margin-top: 20px;
      font-weight: 500;
      font-size: 12px;
      line-height: 120%;
  }
}
