@media screen and (min-width: 768px) and (max-width: 1023px) {
  .donation-options_content_links {
    overflow: auto;
  }

  .donation-options_content_links .donation-options__item_content_another {
    flex-shrink: 0;
    flex-grow: 1;
    width: 135px;
    max-width: 211px;
  }
}

@media screen and (min-width: 1024px) {
  .donation-options_content_links .donation-options__item_content_another {
    width: 211px;
  }
}
