.card-video__name {
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  padding-bottom: 20px;
  margin: 0;
}

@media screen and (max-width: 1279px) {
  .card-video__name {
      font-size: 16px;
      line-height: 120%;
      padding-bottom: 6px;
  }
}

@media screen and (max-width: 767px) {
  .card-video__name {
      font-size: 14px;
      line-height: 120%;
      padding-bottom: 1px;
  }
}
