.donation__log {
  margin: 0 auto;
  max-width: 365px;
  max-height: 660px;
  overflow: hidden;
}

@media screen and (max-width: 1149px) {
  .donation__log {
    max-width: 349px;
    max-height: 460px;
  }
}

@media screen and (max-width: 767px) {
  .donation__log {
    max-width: 300px;
    max-height: 265px;
  }
}

