.card-video__icon {
  width: 40px;
  height: 40px;
  background-image: url(../../../images/icon_play.svg);
  cursor: pointer;
}

@media screen and (max-width: 1279px) {
  .card-video__icon {
    width: 28px;
    height: 28px;
    background-size: cover;
  }
}

@media screen and (max-width: 767px) {
  .card-video__icon {
    width: 24px;
    height: 24px;
  }
}
