.card-video {
  display: flex;
  width: calc(50% - 10px);
  margin: 0 auto;
  background-color: #eae6ff;
  border-radius: 30px;
}


@media screen and (max-width: 767px) {
  .card-video {
      width: 100%
  }
}

