.card-video {
  margin: 0 auto;
  width: calc(50% - 10px);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 20px;

  padding: 30px;

  background-color: var(--color-light-purple);
  border-radius: 30px;
}

@media screen and (max-width: 1279px) {
  .card-video {
    gap: 16px;
    padding: 21px 13px 18px 20px;
    border-radius: 20px;
  }
}

@media screen and (max-width: 767px) {
  .card-video {
    width: 100%;
    padding: 16px;
  }
}

