.support-links__radio {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.support-links__radio:checked + .support-links__radio-button {
  border-color: var(--color-blue);
}

.support-links__radio:focus + .support-links__radio-button {
  border-color: var(--color-bright-blue);
}
