.footer__copyright {
  color: rgba(38, 38, 38, 0.5);
  font-size: 18px;
  line-height: 1.3;
  margin: 0;
  max-width: 629px;
  padding: 40px 0 0;
}

.footer__copyright:last-child {
  padding-top: 0;
}

@media screen and (max-width: 1279px) {
  .footer__copyright {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    max-width: 336px;
    padding-top: 28px;
  }
}

@media screen and (max-width: 767px) {
  .footer__copyright {
    font-size: 12px;
    max-width: 350px;
  }
}
