.card-quote__icon {
  width: 35px;
  height: 28px;
  background-image: url(../../../images/icon_quote.svg);
  margin: 15px 32px 178px 0px;
  flex-shrink: 0;
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (max-width: 1279px) {
  .card-quote__icon {
      width: 29px;
      height: 20px;
      margin-top: 0;
      margin-bottom: 13px;
  }
}

@media screen and (max-width: 767px) {
  .card-quote__icon {
      width: 24px;
      height: 17px;
      margin-bottom: 14px;
  }
}
