.amount__container {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}

@media (min-width: 600px) and (max-width: 1280px) {
  .amount__container {
    gap: 35px;
  }
}

@media screen and (max-width: 599px) {
  .amount__container {
    flex-direction: column-reverse;
    gap: 24px;
  }
}
