.tooltip__text {
  position: absolute;
  bottom: calc(100% + 5px);

  display: block;

  width: 300px;
  box-sizing: border-box;

  font-size: 12px;
  line-height: 1.2;
  white-space: normal;

  background-color: var(--color-white);
  padding: 12px 14px;
  border-radius: 10px;

  box-shadow: 0 4px 30px rgba(42, 48, 56, 0.1);

  opacity: 0;
  visibility: hidden;

  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

@media screen and (max-width: 767px) {
  .tooltip__text {
    width: 280px;
    left: -116px;
  }
}
