.header__menu-text {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  margin-left: 12px;
}

@media screen and (max-width: 1250px) {
  .header__menu-text {
    font-size: 16px;
  }
}

@media screen and (max-width: 730px) {
  .header__menu-text {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  }
}
