.amount__number {
  align-content: center;
  display: grid;
  font-variant-numeric: lining-nums;
  gap: 30px 20px;
  grid-template-columns: 1fr 1fr;
  justify-content: end;
  max-width: 770px;
}

@media (min-width: 600px) and (max-width: 768px) {
  .amount__number {
    gap: 33px 22px;
    max-width: 688px;
  }
}

@media screen and (max-width: 599px) {
  .amount__number {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 16px;
  }
}
