.accordion__container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 50px;
}

@media screen and (max-width: 1024px) {
  .accordion__container {
      padding-top: 32px;
      flex-direction: column;
  }
}
@media screen and (max-width: 767px) {
  .accordion__container {
      padding-top: 24px;
      gap: 16px;
  }
}
