.card-project {
  display: none;
  grid-template-columns: 603px 555px;
  grid-template-rows: auto 1fr;
  justify-content: space-between;
  padding: 30px;
  column-gap: 30px;
  overflow: hidden;
}


@media screen and (max-width: 1439px) {
  .card-project {
    grid-template-columns: minmax(339px, 603px) minmax(259px, 555px);
  }
}

@media screen and (max-width: 767px) {
  .card-project {
    grid-template-columns: 1fr;
    padding: 25px;
    margin: 0 auto;
  }
}
