.about__switcher-text {
  align-self: center;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-variant-numeric: lining-nums;
  font-weight: 700;
  line-height: 130%;
  margin: 0px;
}

@media screen and (max-width: 1250px) {
  .about__switcher-text {

    font-size: 16px;
    line-height: 120%;
  }
}

@media screen and (max-width: 730px) {
  .about__switcher-text {
    font-size: 14px;
  }
}
