.donation-log__leaders::after {
  position: absolute;
  height: 1em;
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
  content: " . . . . . . . . . . . . . . . . . . . "
  ". . . . . . . . . . . . . . . . . . . . . . . "
  ". . . . . . . . . . . . . . . . . . . . . . . "
  ". . . . . . . . . . . . . . . . . . . . . . . "
  ". . . . . . . . . . . . . . . . . . . . . . . "
  ". . . . . . . . . . . . . . . . . . . . . . . "
  ". . . . . . . . . . . . . . . . . . . . . . . ";
  text-align: right;
}
