.support-links__item_content_another {
  margin-right: auto;
  width: 211px;
}

@media screen and (max-width: 1279px) {
  .support-links__item_content_another {
    flex-shrink: 0;
    flex-grow: 1;
    width: 135px;
    max-width: 211px;
  }
}

@media screen and (max-width: 767px) {
  .support-links__item_content_another {
    width: 100%;
    max-width: none;
  }
}
