.history {
  width: 100%; ;
  padding-top: 150px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1279px) {
  .history {
      max-width: 687px;
      padding-top: 100px;
      padding-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  .history {
      max-width: 300px;
      padding-top: 64px;
      padding-bottom: 31px;
  }
}
