.history__button {
  width: 194px;
  height: 48px;
  margin-right: 18px;
}
@media screen and (max-width: 1279px) {
  .history__button {
    width: 200px;
    order: 1;
    align-self: center;
  }
}

@media screen and (max-width: 767px) {
  .history__button {
      height: 44px;
      width: 300px;
  }
}
