.projects__subtitle {
  margin-bottom: 50px;
  max-width: 73%;
}

@media screen and (max-width: 1279px) {
  .projects__subtitle {
    margin-bottom: 22px;
  }
}

@media screen and (max-width: 767px) {
  .projects__subtitle {
    margin-bottom: 24px;
    max-width: none;
  }
}
