.button_color_blue {
  color: var(--color-blue);
  background-color: var(--color-light-blue);
}

.button_color_blue:hover,
.button_color_blue:focus {
  color: var(--color-white);
  background-color: var(--color-blue);
}

.button_color_blue:active {
  color: var(--color-white);
  background-color: var(--color-dark-blue);
}

.button_color_blue:disabled {
  color: var(--color-grey-transparent);
  background-color: var(--color-grey);
}
