.button_color_white {
  color: var(--color-text-main);
  background-color: var(--color-white);
}

.button_color_white:hover,
.button_color_white:focus {
  color: var(--color-dark-blue);
}

.button_color_white:active {
  color: var(--color-blue);
}

.button_color_white:disabled {
  color: var(--color-grey);
  background-color: var(--color-grey);
}
