.support-links__submit {
  margin-left: 50px;
  padding-left: 29px;
  padding-right: 29px;
}

@media screen and (max-width: 1360px) {
  .support-links__submit {
    margin-left: 20px;
  }
}

@media screen and (max-width: 1279px) {
  .support-links__submit {
    margin-left: 12px;
    padding-left: 23px;
    padding-right: 23px;
  }
}

@media screen and (max-width: 767px) {
  .support-links__submit {
    margin-left: 0;
    margin-top: 16px;
    width: 100%;
  }
}
