.cards-wrapper {
  width: 100%;
  margin: 0 auto;
  display: flex;
  gap: 20px;
}

@media screen and (max-width: 1279px) {
  .cards-wrapper {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 767px) {
  .cards-wrapper {
    margin-bottom: 24px;
    gap: 16px;
  }
}

@media screen and (max-width: 599px) {
  .cards-wrapper {
    flex-direction: column;
  }
}
