.card-quote__avatar_reversed {
  order: 1;
}

@media screen and (max-width: 767px) {
  .card-quote__avatar_reversed {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 599px) {
  .card-quote__avatar_reversed {
    order: -1;
  }
}
