.navigation {
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
  max-width: 1440px;
}

@media screen and (max-width: 1250px) {
  .navigation {
    display: none;
  }
}
