.donation__text {
  margin-top: 16px;
  margin-bottom: 16px;

  font-size: 18px;
  line-height: 1.3;
}

@media screen and (max-width: 1279px) {
  .donation__text {
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  .donation__text {
    font-size: 12px;
  }
}
