.donation__text {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 1.28;
}

@media screen and (max-width: 1279px) {
  .donation__text {
    font-size: 14px;
    margin-top: 18px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 767px) {
  .donation__text {
    font-size: 12px;
    line-height: 1.16;
  }
}

@media screen and (max-width: 320px) {
  .donation__text {
    margin-bottom: 32px;
  }
}
