.donation__submit {
  margin: 0 auto;
  min-width: 194px;
}

@media screen and (max-width: 1279px) {
  .donation__submit {
    min-width: 200px;
  }
}

@media screen and (max-width: 767px) {
  .donation__submit {
    width: 100%;
  }
}
