.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  box-sizing: border-box;
  padding-left: 40px;
  padding-right: 40px;
}

@media screen and (max-width: 767px) {
  .container {
      padding-left: 10px;
      padding-right: 10px;
  }
}
