.footer__logo_name_beeline {
  background-image: url(../../../../images/logo-beeline.svg);
  height: 53px;
  width: 100px;
}

@media screen and (max-width: 1279px) {
  .footer__logo_name_beeline {
    background-image: url(../../../../images/logo-beeline-small.svg);
    height: 40px;
    width: 56px;
  }
}

@media screen and (max-width: 767px) {
  .footer__logo_name_beeline {
    height: 34px;
    width: 47.5px;
  }
}
