.footer__heading {
  font-size: 34px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0 0 20px;
  padding: 0;
}

@media screen and (max-width: 1279px) {
  .footer__heading {
    font-size: 20px;
  }
}

@media screen and (max-width: 767px) {
  .footer__heading {
    font-size: 16px;
    max-width: 80%;
    margin: 0;
  }
}
