.amount__img {
  max-width: 555px;
  max-height: 368px;
}

@media screen and (max-width: 1279px) {
  .amount__img {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .amount__img {
    display: block;
    max-width: 300px;
    max-height: 200px;
  }
}
