.section {
  padding-top: 100px;
  padding-bottom: 100px;
}

@media screen and (max-width: 1279px) {
  .section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  .section {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
