.support-links__item {
  width: 159px;
}

@media screen and (max-width: 1279px) {
  .support-links__item {
    min-width: 75px;
    max-width: 130px;
  }
}

@media screen and (max-width: 767px) {
  .support-links__item {
    min-width: auto;
    max-width: none;
    width: calc(50% - 8px);
  }
}
