.donation {
  padding-top: 100px;
  padding-bottom: 100px;

  background-color: var(--color-light-blue);
}

@media screen and (max-width: 1279px) {
  .donation {
    padding-top: 44px;
    padding-bottom: 58px;
  }
}

@media screen and (max-width: 767px) {
  .donation {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
