.info-card__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
}

@media screen and (max-width: 1279px) {
  .info-card__title {
    margin-bottom: 10px;
    font-size: 26px;
  }
}

@media screen and (max-width: 767px) {
  .info-card__title {
    font-size: 18px;
  }
}
