.history__button_transferred {
  padding: 12px 35px;
}

@media screen and (max-width: 1279px) {
  .history__button_transferred {
    order: 1;
    width: 200px;
    align-self: center;
    padding: 12px 50px;
  }
}

@media screen and (max-width: 767px) {
  .history__button_transferred {
    width: 300px;
    padding: 13px 106px;
  }
}