.button {
  height: 48px;
  margin: 0;
  padding: 12px 16px;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  text-decoration: none;
  border-radius: 10px;
  cursor: pointer;
}
@media screen and (max-width: 1279px) {
  .button {
      font-size: 18px;
      padding: 10px 10px;
  }
}

@media screen and (max-width: 767px) {
  .button {
      height: 44px;
      font-size: 14px;
  }
}
