.card-quote__avatar {
  width: 224px;
  height: 224px;
  border-radius: 50%;
}

@media screen and (max-width: 1279px) {
  .card-quote__avatar {
    margin: 0;
    width: 204px;
    height: 204px;
  }
}

@media screen and (max-width: 767px) {
  .card-quote__avatar {
    width: 125px;
    height: 125px;
    flex-shrink: 0;
  }
}

@media screen and (max-width: 599px) {
  .card-quote__avatar {
    width: 80px;
    height: 80px;
  }
}
